fastapi
uvicorn[standard]
pydantic
numpy
faiss-cpu
openai
python-dotenv

# SAutenticación y Seguridad
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator

# Envío de emails asinc
aiosmtplib