fastapi
uvicorn[standard]
pydantic
numpy
faiss-cpu
openai
python-dotenv

# SAutenticación y Seguridad
python-jose[cryptography]
passlib==1.7.4
bcrypt==3.2.0
python-multipart
email-validator

# Envío de emails asinc
aiosmtplib